<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="cBoxA_D" value="0" />
        <add key="cBoxA_C" value="0" />
        <add key="rBtnB_2" value="0" />
        <add key="cBoxLogFile" value="1" />
        <add key="cBoxShowFail" value="1" />
        <add key="numClickWait" value="10" />
        <add key="numMoveWait" value="50" />
        <add key="cBoxEnable" value="1" />
        <add key="numH_C" value="2" />
        <add key="numH_B" value="2" />
        <add key="numH_A" value="2" />
        <add key="rBtnH" value="0" />
        <add key="numG" value="6" />
        <add key="rBtnG" value="0" />
        <add key="numF" value="6" />
        <add key="rBtnF" value="0" />
        <add key="tBoxAffix" value="附加的小天賦增加 35% 效果&#xD;&#xA;附加的小天賦給予：+6 智慧&#xD;&#xA;附加的小天賦給予：+7 智慧&#xD;&#xA;附加的小天賦給予：+8 智慧&#xD;&#xA;附加的小型天賦給予：+4 全能力" />
        <add key="numMaxAffix" value="1" />
        <add key="numMaxTimes" value="1000" />
        <add key="cBoxMaxAffix" value="1" />
        <add key="cBoxMaxTimes" value="1" />
        <add key="cBoxA_B_B" value="0" />
        <add key="cBoxA_B_A" value="0" />
        <add key="cBoxA_B" value="0" />
        <add key="cBoxA_A" value="0" />
        <add key="rBtnC" value="0" />
        <add key="rBtnB" value="0" />
        <add key="rBtnA" value="1" />
        <add key="cBoxTopMost" value="1" />
        <add key="rBtnUseCrafting" value="0" />
        <add key="rBtnUseStash" value="1" />
        <add key="rBtnUseCustom" value="0" />
        <add key="tBoxStashLT" value="16,156" />
        <add key="tBoxStashRB" value="651,790" />
        <add key="tBox_K" value="0,0" />
        <add key="tBox_J" value="0,0" />
        <add key="tBox_I" value="0,0" />
        <add key="tBox_H" value="0,0" />
        <add key="tBox_G" value="0,0" />
        <add key="tBox_F" value="0,0" />
        <add key="tBox_E" value="0,0" />
        <add key="tBox_D" value="0,0" />
        <add key="tBox_C" value="0,0" />
        <add key="tBox_B" value="0,0" />
        <add key="tBox_A" value="0,0" />
        <add key="tBoxItem" value="0,0" />
    </appSettings>
</configuration>